<!DOCTYPE html>
<html lang="en">

<head>
    <title>Osakidetza</title>
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>

<body>
    <div class="page-header">
        <h1><a href="{% url 'base' %}">Osakidetza kudeaketa</a></h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'pazientea-kudeaketa' %}">Pazienteak</a></li>
                    <li><a href="{% url 'medikua-kudeaketa' %}">Medikuak</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">{% block content %} {% endblock %}</div>
        </div>
    </div>
</body>

</html>
